form#edit-race
  position: relative
  max-width: 800px

  nav
    a
      cursor: pointer

      &:hover, &.active
        color: cadetblue

  section
    display: none
    margin-bottom: 10px
    border-bottom: 1px solid #DDD
    padding: 15px

    &.active
      display: block

  .games-list

    .game
      padding: 3px

  button.add-game
    margin-top: 10px

.game-edit-modal
  background-color: #7777

  .modal-dialog
    max-width: 600px

  .modal-content
    padding: 15px