.container.admin
  position: relative
  max-width: 800px
  display: block

  .races

    .race
      margin-bottom: 6px
      padding: 6px 6px 12px

      .date
        font-size: 0.7em

      .delete-dropdown
        display: inline-block

      .view, .edit, .delete
        margin-left: 4px

        &:hover
          color: white

  form#edit-race

    margin-bottom: 0px

    .last-updated
      padding-left: 5px

    nav
      a
        cursor: pointer

        &:hover, &.active
          color: cadetblue

    section
      margin-bottom: 10px
      border-bottom: 1px solid #DDD
      padding: 15px

      &.active
        display: block

  .field-row
    width: 100%
    padding: 10px
    position: relative

    &:not(:last-child)
      border-bottom: 1px solid #AAA

    > a, > span
      display: inline-block
      padding-top: 12px
      padding-right: 20px

      &.hidden
        display: none

    button
      margin-left: 5px

    .right
      float: right

  .modal
    background-color: #7777

    .modal-dialog
      max-width: 600px

    .modal-content
      padding: 15px

    .modal-body
      .multi-row
        .form-row
          margin-bottom: 10px

  .delete-dropdown
    display: inline-block

    .dropdown-menu
      right: 0
      left: initial