form#edit-race
  position: relative
  max-width: 700px

  nav
    a
      cursor: pointer

      &:hover, &.active
        color: cadetblue

  section
    display: none
    padding: 15px

    &.active
      display: block

