$bigblue: #071226

.container
  margin-top: 10px

a.social
  display: inline-block
  color: white
  padding: 5px 15px
  text-align: center
  text-decoration: none

  &:hover, &:active
    color: white
    opacity: 0.8

  span
    margin-left: 8px

  &.twitch
    background-color: #6441A4

  &.discord
    background-color: #7289da

  &.twitter
    background-color: #00aced

  &.youtube
    background-color: #ff0000

body
  background-color: #EEE
  padding-bottom: 20px

.material-shadow
  background-color: white
  box-shadow: 4px 4px 10px 0px #bbb
  padding: 15px
  margin-top: 20px

.big-button
  background-color: white
  border-radius: 5px
  border: 1px solid $bigblue
  color: $bigblue
  transition: all 0.3s ease

  &:hover
    background-color: $bigblue
    color: white
    text-decoration: none

input.form-control
  color: black

.hidden
  display: none

.event-details
  padding: 0px 10px

  .name
    font-size: 2em
    font-weight: bold
  .date
    padding-bottom: 10px
    font-size: 0.9em
  .content
    padding: 20px

  .description
    margin-bottom: 20px