#index
  .splashscreen
    width: 100%
    height: 600px
    background: #071226 url('/static/images/splashscreen-1920.jpg') no-repeat center
    background-size: 1080px 100%

  .links

    > div
      padding: 0 3px

    a
      margin-top: 5px
      display: inline-block
      width: 100%
      color: white
      padding: 5px
      text-align: center

      span
        margin-left: 8px

      &.twitch
        background-color: #6441A4

      &.discord
        background-color: #7289da

      &.twitter
        background-color: #00aced

      &.youtube
        background-color: #ff0000

@media screen and (max-width: 575px)
  #index
    .splashscreen
      background-size: 720px 100%
      height: 400px
