$bigblue: #071226

#index
  .splashscreen
    width: 100%
    height: 600px
    background: $bigblue url('/static/images/splashscreen-1920.jpg') no-repeat center
    background-size: 1080px 100%

  .links

    margin-bottom: 15px

    > div
      padding: 0 3px

    a
      margin-top: 5px
      width: 100%

  .next-events
    padding: 20px
    margin-bottom: 20px

    a
      margin-top: 15px
      display: block
      font-size: 1.3em
      font-weight: bold

    .date
      display: block

  .featured
    padding: 20px
    text-align: center
    display: inline-block
    margin-bottom: 10px
    width: 100%
    font-size: 2em

@media screen and (max-width: 575px)
  #index
    .splashscreen
      background-size: 720px 100%
      height: 400px
