#race
  .nav-link
    cursor: pointer

  .details

  section

    .game
      padding: 30px
      border-bottom: 1px solid #CCC

    .name
      font-weight: bold
      font-size: 1.2em

    .goal:before
      content: ''

    .timing:before
      content: 'Timing ends when '

    .rules:before
      content: 'Rules/Clarifications: '

    .resources:before
      content: 'Resources: '

    > div:empty
      display: none

  .participants-list
    padding-bottom: 15px

    .participant
      padding: 10px 10px 0px
      display: block
      font-weight: bold
      font-size: 1.1em