.participant-edit-modal.modal
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title Edit Participant
                button.close(type='button')
                    span &times;
            .modal-body
                .form-group
                    label Username
                    input.form-control(type='text' data-prop='username')
                .form-group
                    label Stream Link
                    input.form-control(type='text' data-prop='streamLink')
                .form-group
                    label Time
                    input.form-control(type='text' data-prop='time' data-format='time')
                .form-group
                    label VOD
                    input.form-control(type='text' data-prop='vod')
            .modal-footer
                button.btn.btn-primary.save(type='button') Save