.participant.field-row.clearfix
    a.field(data-field-name='username' data-field-link='streamLink')
    span.field(data-field-name='time')
    a.field(data-field-link='vod') VOD
    button.right.btn.btn-outline-primary(type='button' data-onclick='edit') Edit
    div.right.delete-dropdown
        button.btn.btn-outline-danger.delete.dropdown-toggle(type='button') Delete
        .dropdown-menu
            button.dropdown-item(type='button' data-onclick='delete') Confirm delete participant