extends templates/main.pug

block content
    #index
        .splashscreen
        .container
            .links.row
                .col-6.col-lg-3
                    a.social.twitch(target='_blank' href='http://twitch.tv/bestofnes')
                        i.fab.fa-twitch
                        span BestOfNES
                .col-6.col-lg-3
                    a.social.discord(target='_blank' href='https://discord.gg/MKkmjMu2MY')
                        i.fab.fa-discord
                        span Join us on Discord
                .col-6.col-lg-3
                    a.social.twitter(target='_blank' href='http://twitter.com/BestOfNes')
                        i.fab.fa-twitter
                        span @BestOfNES
                .col-6.col-lg-3
                    a.social.youtube(target='_blank' href='https://www.youtube.com/channel/UCvDOy7pyq50nZNBVV7jhgqA')
                        i.fab.fa-youtube
                        span Youtube
            .material-shadow.next-events Upcoming events:
                div
                    a(href='/marathons') Best of NES Marathon 2021
                    span.date TBA
            .material-shadow.next-events Recent events:
                div
                    a(href='/races/big-20-13') Big 20 #13
                    span.date September 12th, 2020
                div
                    a(href='/races/big20-14') Big 20 #14
                    span.date March 13, 2021
            .row
                .featured-block.col-12.col-sm-6
                    a.featured.featured-marathon.big-button(href='/marathons') Marathons
                .featured-block.col-12.col-sm-6
                    a.featured.featured-race.big-button(href='/races') Races