extends templates/main.pug

block content
    #index
        .splashscreen
        .container
            .links.row
                .col-6.col-lg-3
                    a.social.twitch(target='_blank' href='http://twitch.tv/bestofnes')
                        i.fab.fa-twitch
                        span BestOfNES
                .col-6.col-lg-3
                    a.social.discord(target='_blank' href='https://discord.gg/7nv72eR')
                        i.fab.fa-discord
                        span Join us on Discord
                .col-6.col-lg-3
                    a.social.twitter(target='_blank' href='http://twitter.com/BestOfNes')
                        i.fab.fa-twitter
                        span @BestOfNES
                .col-6.col-lg-3
                    a.social.youtube(target='_blank' href='https://www.youtube.com/channel/UCvDOy7pyq50nZNBVV7jhgqA')
                        i.fab.fa-youtube
                        span Youtube
            .material-shadow.next-events Upcoming events:
                div
                    a(href='/races/big20-10') Big 20 #10
                    span.date March 2nd, 2019
                div
                    a(href='/marathons') BestOfNes Marathon 2019
                    span.date Fall 2019
            .material-shadow.next-events Recent events:
                div
                    a(href='/races/big20-9') Big 20 #9
                    span.date October 6th, 2018
                div
                    a(href='/marathons') BestOfNes Marathon 2018
                    span.date Novemeber 2nd-5th, 2018
            .row
                .featured-block.col-12.col-sm-6
                    a.featured.featured-marathon.big-button(href='/marathons') Marathons
                .featured-block.col-12.col-sm-6
                    a.featured.featured-race.big-button(href='/races') Races