extends templates/main.pug

block content
    #index
        .splashscreen
        .container
            .links
                a.twitch(href='http://twitch.tv/bestofnes') Twitch
                a.discord(href='https://discord.gg/7nv72eR') Discord
                a.twitter(href='http://twitter.com/BestOfNes') Twitter
                a.youtube(href='https://www.youtube.com/channel/UCvDOy7pyq50nZNBVV7jhgqA') Youtube
            .description Insert description here
