extends templates/main.pug

block content
    #index
        .splashscreen
        .container
            .links.row
                .col-6.col-lg-3
                    a.social.twitch(target='_blank' href='http://twitch.tv/bestofnes')
                        i.fab.fa-twitch
                        span BestOfNES
                .col-6.col-lg-3
                    a.social.discord(target='_blank' href='https://discord.gg/7nv72eR')
                        i.fab.fa-discord
                        span Join us on Discord
                .col-6.col-lg-3
                    a.social.twitter(target='_blank' href='http://twitter.com/BestOfNes')
                        i.fab.fa-twitter
                        span @BestOfNES
                .col-6.col-lg-3
                    a.social.youtube(target='_blank' href='https://www.youtube.com/channel/UCvDOy7pyq50nZNBVV7jhgqA')
                        i.fab.fa-youtube
                        span Youtube
            .material-shadow.next-events Upcoming events:
                div
                    a(href='/races/big20-12') Big 20 #12
                    span.date March 7th, 2020
                div
                    BestOfNes Marathon 2020
                    span.date Winter 2020
            .material-shadow.next-events Recent events:
                div
                    a(href='/races/big20-11') Big 20 #11
                    span.date September 7th, 2019
                div
                    a(href='/marathons') BestOfNes Marathon 2019
                    span.date November 8th-10th
            .row
                .featured-block.col-12.col-sm-6
                    a.featured.featured-marathon.big-button(href='/marathons') Marathons
                .featured-block.col-12.col-sm-6
                    a.featured.featured-race.big-button(href='/races') Races