extends templates/main.pug

block content
    #index
        .splashscreen
        .container
            .links.row
                a.twitch.col-6.col-sm-3(href='http://twitch.tv/bestofnes') Twitch
                a.discord.col-6.col-sm-3(href='https://discord.gg/7nv72eR') Discord
                a.twitter.col-6.col-sm-3(href='http://twitter.com/BestOfNes') Twitter
                a.youtube.col-6.col-sm-3(href='https://www.youtube.com/channel/UCvDOy7pyq50nZNBVV7jhgqA') Youtube
            .description Insert description here
