extends templates/main.pug

block content
    #index
        .splashscreen
        .container
            .links.row
                .col-6.col-sm-3
                    a.twitch(target='blank' href='http://twitch.tv/bestofnes')
                        i.fab.fa-twitch
                        span Twitch
                .col-6.col-sm-3
                    a.discord(target='blank' href='https://discord.gg/7nv72eR')
                        i.fab.fa-discord
                        span Discord
                .col-6.col-sm-3
                    a.twitter(target='blank' href='http://twitter.com/BestOfNes')
                        i.fab.fa-twitter
                        span Twitter
                .col-6.col-sm-3
                    a.youtube(target='blank' href='https://www.youtube.com/channel/UCvDOy7pyq50nZNBVV7jhgqA')
                        i.fab.fa-youtube
                        span Youtube
            .site-description Insert description here
            .row
                .featured-block.col-12.col-sm-6
                    a.featured.featured-marathon(href='/marathons') Marathons
                .featured-block.col-12.col-sm-6
                    a.featured.featured-race(href='/races') Races