extends templates/main.pug

block content
    #marathons.container
        .featured.material-shadow
            .centerer
                img.bestofneslogo(src='/static/images/bestofnessquare.png')
            .event-details
                .name Best of NES Marathon 2020
                .date Date: To Be Announced
                a.social.twitch(target='_blank' href='http://twitch.tv/bestofnes')
                    i.fab.fa-twitch
                    span BestOfNES
                .content
                    .description Once a year we gather the best players from around the world to show off the best games the NES has to offer.
                    div
                        | Status: 
                        a(href='https://forms.gle/jwCLaMgd84xQCfDTA' target='_blank') Signups Open
                    div
                        | Follow on Twitter
                        |
                        a(href='https://twitter.com/bestofnes' target='_blank') @BestOfNES
                        |
                        | for updates and announcements.
        .past-marathons
            h3 Past Marathons
            each marathon in pastMarathons
                .past-marathon
                    span.name #{marathon.name}
                    span.date #{marathon.date}
                    span.schedule
                        a(href=marathon.schedule) Schedule
            small
                a(href='https://www.twitch.tv/bestofnes/videos/highlight' target='_blank') View VODs
