extends templates/main.pug

block content
    #race.container
        .material-shadow.games
            nav
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link Goals
                    li.nav-item
                        a.nav-link Rules
                    li.nav-item
                        a.nav-link Resources
            .sections
                section.goals Goals
                section.rules Rules
                section.resources Resources
        .material-shadow.participants Participants