extends templates/main.pug

block content
    #race.container
        .material-shadow.games
            nav
                ul.nav.nav-tabs
                    li.nav-item
                        .nav-link Goals
                    li.nav-item
                        .nav-link Details
            .sections
                section.goals
                    each game in race.games
                        .name game.name
                        .goal game.goal
                section.details
                    each game in race.games
                        .name game.name
                        .goal game.goal
                        .timing game.timing
                        .rules game.rules
                        .resources game.resources
        .material-shadow.participants Participants
block postscript
    script.
        BestOfNes.Race.init()