nav.navbar.navbar-expand-sm.navbar-light#header
    a.navbar-brand(href='/') [Insert logo here]
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#menubar' aria-controls='menubar' aria-expanded='false' aria-label='Toggle Navigation')
        span.navbar-toggler-icon
    div.collapse.navbar-collapse#menubar
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/marathons') Marathons
            li.nav-item
                a.nav-link(href='/races') Races
            li.nav-item
                .nav-link.twitch(mode='loading')
                    .option.loading Loading
                    .option.loggedIn.dropdown
                        .dropdown-toggle
                            i.fab.fa-twitch
                            span.name
                        .dropdown-menu
                            a.dropdown-item.admin(href='/admin')
                                i.fa.fa-lock
                                span Admin
                            a.dropdown-item.my-channel(target='blank') My Channel
                            a.dropdown-item.logout(href='/logout') Logout
                    a.option.notLoggedIn
                        i.fab.fa-twitch
                        span Log in