extends ../templates/admin.pug

block content
    div.races
        | Races
        a(href="admin/races/new")
            | Create new
        div.upcoming
            each race in races.upcoming
                a= race.name
        div.old
            each race in races.old
                a= race.name
block postscript