extends ../templates/admin.pug

block content
    div.races
        h1 Races
        a.btn.btn-primary.create-new(href="admin/races/new")
            | Create new
        hr
        div.upcoming
            h3 Upcoming
        hr
        div.running
            h3 Running
        hr
        div.finished
            h3 Finished
    template
        .race.row
            div.col-12.col-sm-7
                div.name
                div.date.date-to-convert
            .buttons.col-12.col-sm-5
                a.btn.btn-outline-primary.view(target='blank') View
                a.btn.btn-outline-primary.edit Edit
                div.delete-dropdown
                    button.btn.btn-outline-danger.delete.dropdown-toggle(type='button') Delete
                    .dropdown-menu
                        button.dropdown-item.confirm-delete Confirm delete race
block postscript
    script.
        BestOfNes.Admin.Dashboard.init(!{JSON.stringify(races)})