extends ../templates/admin.pug

block content
    div.races
        | Races
        a(href="admin/races/new")
            | Create new
        div.upcoming
            h1 Upcoming
        div.running
            h1 Running
        div.finished
            h1 Finished
    template
        .race.row
            span.date.col-6.col-sm-2
            span.name.col-6.col-sm-5
            .buttons.col-12.col-sm-5
                a.btn.btn-outline-primary.view(target='blank') View
                a.btn.btn-outline-primary.edit Edit
                div.delete-dropdown
                    button.btn.btn-outline-danger.delete.dropdown-toggle(type='button') Delete
                    .dropdown-menu
                        button.dropdown-item.confirm-delete Confirm delete race
block postscript
    script.
        BestOfNes.Admin.Dashboard.init(!{JSON.stringify(races)})