extends ../templates/admin.pug

block content
    form#edit-race
        nav
            ul.nav.nav-tabs
                li.nav-item
                    a.nav-link Info
                li.nav-item
                    a.nav-link Games
                li.nav-item
                    a.nav-link Participants
        section.info
            include ../partials/admin/race/raceInfo
        section.games
            .games-list
            button.btn.btn-primary.add-game(type='button') + Add Game
        section.participants
            .participants-list
            button.btn.btn-primary.add-participant(type='button') + Add Participant
        button.save.btn.btn-info(type='submit') Save Changes
        small.last-updated #{race.lastUpdated ? "Last updated - " + new Date(race.lastUpdated) : ""}
        hr
        a.btn.btn-primary(href='/races/' + (race.slug || race._id) target='blank') View
    include ../partials/admin/race/gameEditModal
    include ../partials/admin/race/participantEditModal
append templates
    include ../partials/admin/race/gameRowTemplate
    include ../partials/admin/race/participantRowTemplate
append postscript
    script.
      window.BestOfNes.Admin.Race.init(!{JSON.stringify(race)})