extends ../templates/main.pug

block content
    form#edit-race.container
        .info
            .form-group
                label Name
                input.form-control(name="name" type="text" placeholder="Enter event name here")
            .form-group
                label Date
                input.date-input.form-control(name="date" type="text" placeholder="Event date")
            .form-group.form-check
                input.form-check-input(name="public" type="checkbox")
                label.form-check-label Visible to Public
                br
                small.font-text.text-muted Don't check this until you're ready for everyone to see it.
            .form-group.form-check
                input.form-check-input(name="finished" type="checkbox")
                label.form-check-label Finished
                br
                small.font-text.text-muted Check this once the race is finished.
        .games
            | games
        .participants
            | participants
        button(type="submit") Save
block postscript
    script.
      window.BestOfNes.Admin.handleSaveRace()