extends ../templates/admin.pug

block content
    form#edit-race
        nav
            ul.nav.nav-tabs
                li.nav-item
                    a.nav-link Info
                li.nav-item
                    a.nav-link Games
                li.nav-item
                    a.nav-link Participants
        section.info
            .form-group
                label Name
                input.form-control(data-prop-name='name' type='text' placeholder='Enter event name here')
            .form-group
                label URL Name
                .input-group
                    .input-group-prepend
                        span.input-group-text bestofnes.com/races/
                    input.form-control(data-prop-name='slug' type='text' placeholder='my-cool-race')
            .form-group
                label Description
                textarea.form-control(data-prop-name='description' placeholder='Description of event')
            .form-group
                label Date
                input.date-input.form-control(data-prop-name='date' readonly='readonly' type='text' placeholder='Event date')
            .form-group.form-check
                input.form-check-input(data-prop-name='public' type='checkbox')
                label.form-check-label Visible to Public
                br
                small.font-text.text-muted Don't check this until you're ready for everyone to see it.
            .form-group.form-check
                input.form-check-input(data-prop-name='finished' type='checkbox')
                label.form-check-label Finished
                br
                small.font-text.text-muted Check this once the race is finished (so it will appear in previous races listing).
            .form-group
                label VOD
                input.form-control(data-prop-name='link' type='text' placeholder="Add link to video of the race after it's completed")
        section.games
            .games-list
            button.btn.btn-primary.add-game(type='button') + Add Game
        section.participants
            | participants
        button.save.btn.btn-info(type='submit') Save Changes
        small.last-updated #{race.lastUpdated ? "Last updated - " + new Date(race.lastUpdated) : ""}
    .game-edit-modal.modal
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-header
                    h5.modal-title Edit Game
                    button.close(type='button')
                        span &times;
                .modal-body
                    .form-group
                        label Game
                        input.form-control(type='text' data-prop='name')
                    .form-group
                        label Goal
                        input.form-control(type='text' data-prop='goal')
                    .form-group
                        label Timing ends when...
                        input.form-control(type='text' data-prop='timing')
                    .form-group
                        label Rules/Clarifications
                        textarea.form-control(data-prop='rules')
                    .form-group
                        label Resources
                        textarea.form-control(data-prop='resources')
                .modal-footer
                    button.btn.btn-primary.save(type='button') Save
    template
        .input-group.game
            .input-group-prepend
                span.input-group-text Game #
                    span.game-number 0
            input.name.form-control(type='text' readonly)
            .input-group-append
                button.btn.btn-outline-secondary.move-up(type='button') Up
                button.btn.btn-outline-secondary.move-down(type='button') Down
                button.btn.btn-outline-primary.edit(type='button') Edit
                div.delete-dropdown
                    button.btn.btn-outline-danger.delete.dropdown-toggle(type='button') Delete
                    .dropdown-menu
                        button.dropdown-item.confirm-delete Confirm delete game

block postscript
    script.
      window.BestOfNes.Admin.Race.init(!{JSON.stringify(race)})