html
    head
        title Best of Nes - #{title}
        include ../partials/vendorcss.pug
        link(rel='icon' type='image/png' href='/static/favicon.png')
        //- inject:css
        //- endinject
    body
        header
            include ../partials/header.pug
        block body
        footer
            include ../partials/footer.pug
        include ../partials/vendorjs.pug
        template
            block templates
        //- inject:js
        //- endinject
        script.
          BestOfNes.Twitch.checkLogin(!{JSON.stringify(_locals.twitch)})
        block postscript