html
    head
        title Best of Nes - #{title}
        include ../partials/vendorcss.pug
        //- inject:css
        //- endinject
    body
        block body
        //- inject:js
        //- endinject
        block postscript