html
    head
        title #{title}
    body
        header
            include ../partials/header.pug
        content
            block content
        footer
            include ../partials/footer.pug
